extends layout

block content
  h1= title 
  h3 Please view our public events!
  
  each event in event_list
    - var url = '/event/' + event.eventID
    li 
      a(href=url) #{event.name}  - #{event.date}
  else
    li There are no events.
