extends layout

block content
  h1= title
  p Welcome to #[em College Event Site]!

  h1 Public Events

  if error
    p Error getting public events.
  else
    p The library has the following events:
