<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register RSO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="stylesheets\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <div>
      <form class="form-vertical" action="/registerEvent" method="POST">
        <fieldset>
          <div id="legend">
            <legend class="">Register RSO</legend>
          </div>

          <div class="control-group">
            <label class="control-label">RSO Name</label>
            <div class="controls">
              <input type="text" id="name" name="name" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">University</label>
            <div class="controls">
                <select class="form-control" id="university" name="university">
                   <% for(var i=0; i<universities.length; i++) {%>
                    <option><%= universities[i].name %></option>
                  <% } %>
                </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Admin</label>
            <div class="controls">
              <input type="text" id="admin" name="admin" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <p></p>
              <button class="btn btn-success">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
