doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrappaper.min.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            nav(class='navbar navbar-fixed-side navbar-light bg-faded' )
              <a class="navbar-brand nav-item nav-link" href="/">College Events</a>
              a(class='nav-item nav-link' href='/user/login') Login/Logout
              a(class='nav-item nav-link' href='/user/create') Signup
              hr
              a(class='nav-item nav-link' href='/RSO/create') Create RSO
              a(class='nav-item nav-link' href='/RSOs') RSO List
              hr
              a(class='nav-item nav-link' href='/event/create') Create Event
              a(class='nav-item nav-link' href='/event/search') Search Event
              hr
              a(class='nav-item nav-link' href='/university/create') Create University


        div(class='col-sm-10')
          block content
