<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="stylesheets\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <div>
      <form class="form-vertical" action="/registerRSO" method="POST">
        <fieldset>
          <div id="legend">
            <legend class="">Register Event</legend>
          </div>

          <div class="control-group">
            <label class="control-label">Event Name</label>
            <div class="controls">
              <input type="text" id="name" name="name" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Contact Phone</label>
            <div class="controls">
              <input type="tel" id="contactPhone" name="contactPhone" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Contact Email</label>
            <div class="controls">
              <input type="text" id="contactEmail" name="contactEmail" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Event Type</label>
            <div class="controls">
              <input type="text" id="type" name="type" placeholder="" class="input-xlarge" autofocus required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Date and Time</label>
            <div class="controls">
                  <input type="text" id="date" name="date" readonly class="form_datetime">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Location</label>
              <div class="controls">
                <div id="map" name="map" style="width:100%;height:400px;"></div>
                <script>
                  var map;
                  var marker;
                  var infowindow;
                  function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 28.6024274, lng: -81.200081},
                      zoom: 16
                    });
                    google.maps.event.addListener(map, 'click', function(event) {
                      placeMarker(event.latLng, map);
                    });
                  }
                  function placeMarker(location, map) {
                    if (!marker || !marker.setPosition) {
                          marker = new google.maps.Marker({
                          position: location,
                          map: map,
                        });
                    }
                    else {
                      marker.setPosition(location);
                    }
                    if (!!infowindow && !!infowindow.close) {
                      infowindow.close();
                    }
                    infowindow = new google.maps.InfoWindow({
                      content: 'Your location is ' + location
                    });
                    infowindow.open(map, marker);
                  }
                </script>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Event Scope</label>
            <div class="controls">
              <label class="radio-inline"><input type="radio" name="scope">Public</label>
              <label class="radio-inline"><input type="radio" name="scope">Private</label>
              <label class="radio-inline"><input type="radio" name="scope">RSO Only</label>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <p></p>
              <button class="btn btn-success">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1iCiABq4fSxOzuP5a3U_mQDBCA1EyMRM&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts\bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
          weekStart: 1,
          todayBtn:  1,
    		  autoclose: 1,
    		  todayHighlight: 1,
    		  startView: 2,
    		  forceParse: 0,
          showMeridian: 1
        });
    </script>

  </body>
</html>
